@model Sandy_MVC_20190415_Q1.Models.CustomerModel
@{
    ViewBag.Title = "Detail";
}

<h2></h2>
@*@using (Html.BeginForm("Check", "Customer", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
    <div>
        <label>
        </label>
        <p>
            使用者名稱:@Html.TextBox("Name")
        </p>
        <p>
            手機號碼:  @Html.TextBox("Phone")
        </p>
        <p>
            電子信箱: @Html.TextBox("Email")
        </p>
    </div>
        <input type="submit" />    
        }*@
<div class="cellphone_error"></div>
<form method="post" action="/Customer/Check">
    使用者名稱:<input type="text" name="name" required /><br />
    手機號碼:<input type="text" name="phone" required /><br />
    電子信箱:<input type="email" name="email" required /><br />
    <input type="submit" value="check" />
  
</form>
